/contactBalls.csv
/test.py
/test2.py
/.ipynb
/__pycache__/
/.ipynb_checkpoints/
/data/buckup/
/video/buckup/
/video/*
*.pyc
.vscode/
/weights/*
analysis/.ipynb_checkpoints/*
/src/scene
*.ipynb
# /detect_score.py
# /src/detect_score.py
/src/predict/*
/memo/*

